.detail_box {
  
}

.intro_box {
  display: flex;

  background-size: cover;
  background-repeat: no-repeat;
  
}

.intro_box img {
  border-radius: 10px;
  margin-right: 5%;
}

.intro_title >div{
  padding: 20px 10% 0;
  display: flex;
  color: white;
  align-items: center;
  margin-bottom: 20px;
}