.slick {
  position: relative;
  cursor: pointer;
}

.slick_title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 220px;
  color: white;
  font-size: 20px;
  display: none;
}

.slick:hover .slick_title {
  display: block;
}

.slick:hover::before {
  position: absolute;
  left:0;
  width: 220px;
  height: 100%;
  content: '';
  background: linear-gradient(to top, black, transparent);
}