.video_box {
  padding: 0 10%;
}


.video_wrap {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  border-radius: 10px;
} 




.video_wrap::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  
}
.video_wrap::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
}
.video_wrap::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
  
}

.video_wrap div:nth-child(1) {
  /* border-radius: 10px;
  overflow: hidden; */
}