.search_box {
  margin: 10px 10% 0;
}

.search_input {
  display: flex;
  justify-content: center;
}
.search_box input {
  border-radius: 15px;
  border: 1px solid black;
  padding: 5px 8px;
  width: 50%;
}

.search_box input:focus {outline: none;}



.search_wrap {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.search_wrap img {
  border-radius: 15px;
  margin-right: 15px;
}

.search_intro {
  width: 400px;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media screen and (max-width: 800px){
  .search_box{
    display: block;
    margin: 10px 3% 0;
  }
  .search_box > div {
    margin-bottom: 10px;
  }
  .search_box input {
    width: 95%;
  }
  .search_wrap {
    margin-left: 0px;
  }
  .search_wrap > div {
    width: 150px;
  }
  .search_intro {
    width: 150px;
  }
}